<article class="ArticleList">
  {% for page in pages %}
  <article class="Article">
    <h3 class="Article__Title">
      {% if page.iconUrl %}
        {% if page.iconUrl is starting_with("http") %}
          <span><img class="inline-img-icon" src="{{ page.iconUrl }}"></span>
        {% else %}
          <span class="inline-img-icon">{{ page.iconUrl }}</span>
        {% endif %}
      {% endif %}
      <a href="{{ rootPath | default(value='.') }}/{{ page.url }}">
        {{ page.title }}
      </a>
    </h3>
    {% if page.preview %}
    <p class="Article__Desc">
      {{ page.preview }}
    </p>
    {% endif %}
    <div class="DateTagBar">
      {% if page.date %}
      <span class="DateTagBar__Item DateTagBar__Date">Posted on {{ page.date }}</span>
      {% endif %}
      {% for tag in page.tags %}
      <span class="DateTagBar__Item DateTagBar__Tag">
        <a href="{{ rootPath | default(value='.') }}/tag/{{ tag.slug }}.html" class="tag tag-{{ tag.color | default(value='default') }}">
          {{ tag.name }}
        </a>
      </span>
      {% endfor %}
    </div>
  </article>
  {% endfor %}
</article>
